body {
    font-family: Helvetica, Verdana, serif;
}

ul {
    list-style: none;
}

.login-container, .user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);
}

.login-container::before, .user-container::before {
    content: "";
    position: fixed;
    left: -22%;
    top: 60%;
    right: 0;
    width: 125%;
    height: 100%;
    background: linear-gradient(135deg, #f3f6f8 0%, #fff 100%);
    transform: rotate(15deg);
}

.login {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    margin: auto;
}

h1 {
    font-size: 24px;
    text-align: center;
}

p.error {
    color: #940000;
    font-size: 20px;
    margin: 0 0 15px 0;
}

.button {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    background-color: #4DB3CF;
    text-align: center;
    padding: 13px 0;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    transition: all 0.1s linear;
}
.button:hover {
    background-color: #4fa9c5;
}
a.powered-by {
    position: absolute;
    margin: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #4DB3CF;
    bottom: 10px;
    right: 10px;
}

a.powered-by:visited {
    text-decoration: none;
    color: #4DB3CF;
}

.attributes {
    z-index: 99;
}

.login-form {
    font-size: 22px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.login-form input[type="text"], .login-form input[type="password"] {
    padding: 8px;
    border-radius: 3px;
    margin: 8px 0;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid #e4e4e4;
    box-shadow: inset 0 1px 3px #e6e6e6;
}

.login-form input[type="password"] {
    margin-bottom: 15px;
}

section.add-attribute {
    display: flex;
    margin: 15px 0;
    align-items: center;
}

select.attribute-select {
    flex-grow: 2;
    border-radius: 3px;
    margin: 8px 0;
    font-size: 16px;
    background-color: white;
    border: 1px solid #e4e4e4;
    box-shadow: inset 0 1px 3px #e6e6e6;
    height: 40px;
}

div.attribute-value {
    display: flex;
    position: relative;
    flex-direction: column;
}

span.remove-attribute-value {
    cursor: pointer;
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 16px;
}
div.attribute-value label {
    font-size: 13px;
}
div.attribute-value input {
    margin-top: 2px;
    font-size: 16px;
}
.explain {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
    width: 385px;
    z-index: 5;
    height: 100%;
    transition: left 325ms ease-in-out;
}

.explain.hide {
    transition: left 250ms ease-in-out;
    left: -390px;
}

div.help {
    margin-left: 5px;
    color: #4DB3CF;
    cursor: pointer;
}

span.explain-link {
    border-radius: 50%;
    background-color: #4DB3CF;
    color: white;
    padding: 5px 13px;
}
span.explain-link:hover {
    background-color: #4fa9c5;
}
.container {
    overflow-y: scroll;
    height: 99%;
}

section.title {
    position: relative;
    padding: 20px 10px;
    background-color: #4DB3CF;
    color: white;
    font-weight: bold;
    font-size: larger;
}

section.title p {
    margin: 0;
}

section.explanation-content {
    padding: 0 10px;
}

a.close {
    position: absolute;
    right: 0;
    top: -4px;
    font-size: 24px;
    padding: 8px;
    color: white;
    text-decoration: none;
}

a.close:focus {
    border: none;
    outline: none;
}
