ASSERTION_VALIDITY_TIME_INS_SECONDS=90

REPLAY_CACHE_LIFE_IN_MILLIS=14400000
ISSUE_INSTANT_CHECK_CLOCK_SKEW_IN_SECONDS=90
ISSUE_INSTANT_CHECK_VALIDITY_TIME_IN_SECONDS=300

MAX_PARSER_POOL_SIZE=2
AUTHN_RESPONDER_URI=/AuthnResponder
LOGOUT_RESPONDER_URI=/LogoutResponder
SSO_SERVICE_URI=/SingleSignOnService

#SIGNATURE_ALGORITHM=http://www.w3.org/2001/04/xmldsig-more#rsa-sha256
SIGNATURE_ALGORITHM=http://www.w3.org/2000/09/xmldsig#rsa-sha1
