ul {
    list-style: none;
}
.login-container-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.login-container, .user-container {
    font-family: Helvetica, Verdana, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);
}
.login-container {
    height: 100vh;
}
.user-container {
    height: 100%;
}
.login-container::before, .user-container::before {
    content: "";
    position: fixed;
    left: -22%;
    top: 60%;
    right: 0;
    width: 125%;
    height: 100%;
    background: linear-gradient(135deg, #f3f6f8 0%, #fff 100%);
    transform: rotate(15deg);
}

.login {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    margin: auto auto 20%;
    box-sizing: border-box;
    max-width: 100%;
}
h1 {
    font-size: 24px;
    text-align: center;
}
a.button {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    background-color: #4DB3CF;
    text-align: center;
    padding: 12px 0;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    transition: all 0.1s linear;
}
section.force-authn {
    margin-top: 25px;
    margin-left: -100px;
}
.button:hover {
    background-color: #4fa9c5;
}
a.powered-by {
    position: absolute;
    margin: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #4DB3CF;
    bottom: 10px;
    right: 10px;
}
a.powered-by:visited {
    text-decoration: none;
    color: #4DB3CF;
}
.attributes {
    z-index: 99;
}
