<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2012 SURFnet bv, The Netherlands

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

  <http once-per-request="false">

    <form-login default-target-url="/index.jsp" login-page="/login.jsp"
                authentication-failure-handler-ref="authnFailureHandler"/>
    <anonymous/>
    <logout/>

    <intercept-url pattern="${SSO_SERVICE_URI}" access="ROLE_USER,ROLE_ADMIN,ROLE_ANONYMOUS"/>
    <intercept-url pattern="/login.jsp" access="ROLE_USER,ROLE_ADMIN,ROLE_ANONYMOUS"/>

    <intercept-url pattern="/index.jsp" access="ROLE_USER,ROLE_ADMIN,ROLE_ANONYMOUS"/>
    
    <intercept-url pattern="/edit_attr.jsp" access="ROLE_USER,ROLE_ADMIN,ROLE_ANONYMOUS"/>

    <intercept-url pattern="${AUTHN_RESPONDER_URI}" access="ROLE_USER,ROLE_ADMIN"/>

    <intercept-url pattern="/admin.jsp" access="ROLE_ADMIN"/>
    <intercept-url pattern="/user.jsp" access="ROLE_USER"/>

  </http>


  <beans:bean id="simpleUrlAuthenticationFailureHandler"
              class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
    <beans:constructor-arg value="/login.jsp"/>
  </beans:bean>

  <beans:bean id="authnFailureHandler" class="nl.surfnet.mujina.spring.RealAuthenticationFailureHandler">
    <beans:constructor-arg ref="timeService"/>
    <beans:constructor-arg ref="idService"/>
    <beans:constructor-arg name="credentialResolver" ref="keyStoreCredentialResolverDelegate"/>
    <beans:constructor-arg name="bindingAdapter" ref="bindingAdpater"/>
    <beans:constructor-arg ref="simpleUrlAuthenticationFailureHandler"/>
  </beans:bean>
  
  <beans:bean id="customAuthenticationProvider" class="nl.surfnet.mujina.spring.security.CustomAuthenticationProvider" />

  <authentication-manager>
    <authentication-provider ref="customAuthenticationProvider" />
  </authentication-manager>
</beans:beans>
