<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<http  once-per-request="false">

		<form-login default-target-url="/index.jsp" login-page="/login.jsp" authentication-failure-handler-ref="authnFailureHandler" />
		<anonymous />
		<logout />		
		
		<intercept-url pattern="${SSO_SERVICE_URI}" access="ROLE_USER,ROLE_ADMIN,ROLE_ANONYMOUS" />
		<intercept-url pattern="/login.jsp" access="ROLE_USER,ROLE_ADMIN,ROLE_ANONYMOUS" />
		
		<intercept-url pattern="/index.jsp" access="ROLE_USER,ROLE_ADMIN,ROLE_ANONYMOUS" />
		
		<intercept-url pattern="${AUTHN_RESPONDER_URI}" access="ROLE_USER,ROLE_ADMIN" />
		
		<intercept-url pattern="/admin.jsp" access="ROLE_ADMIN" />
		<intercept-url pattern="/user.jsp" access="ROLE_USER" />
		
	</http>


    <beans:bean id="simpleUrlAuthenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
    		<beans:constructor-arg value="/login.jsp"/>    	
    </beans:bean>

	<beans:bean id="authnFailureHandler" class="jcox.spring.RealAuthenticationFailureHandler">
		
		<beans:constructor-arg ref="timeService"/>
		<beans:constructor-arg ref="idService"/>
		<beans:constructor-arg value="${ISSUING_ENTITY_ID}"/>
		<beans:constructor-arg name="credentialResolver" ref="keyStoreCredentialResolverDelegate"/>
		<beans:constructor-arg name="bindingAdapter" ref="bindingAdpater"/>
		<beans:constructor-arg ref="simpleUrlAuthenticationFailureHandler"/>
	
	</beans:bean>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="secret" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="user" password="secret" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>
