<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>
<section class="login-container">
    <section class="login">
        <h1>Mujina Identity Provider</h1>
        <a class="button" th:href="@{/user.html}">Login</a>
        <section class="powered-by">
            <a href="https://openconext.org/" target="_blank" rel="noreferrer noopener">Copyright © 2018 OpenConext</a>
        </section>
    </section>

</section>
</body>
</html>
