<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css"/>
    <script th:src="@{/main.js}"></script>
</head>
<body>
<aside id="explanation" class="explain hide">
    <div class="container">
        <header class="title">
            <h2>SAML Attribute Manipulation</h2>
            <a href="/close" id="close" class="close"><span class="sr-only">Close </span>&#9747;</a>
        </header>
        <div class="explanation-content">
            <p>
                When the Mujina IDP sends a SAML assertion back to the service provider, all the attributes will be
                added as SAML AttributeStatement elements.
            </p>
            <p>
                Based on the Attribute Release Policy of the service provider they will be included in the authenticated
                user identity.
            </p>
            <p>If you want to add multiple values for one attribute - for example isMemberOf - then add them multiple
                times.
            </p>

            <hr/>

            <p>
                If you add attributes and check the 'Persist me' box then the attributes will be saved under the
                'Username' you have entered.
            </p>
            <p>
                On subsequent logins with the same username the same set of attributes will be send to the Service
                Provider.
            </p>
        </div>
    </div>
</aside>

<main class="login-container">
    <div class="login">
        <h1>Mujina Identity Provider</h1>
        <p th:if="${param.error}" class="error">Wrong user or password</p>
        <form class="login-form" th:action="@{/login}" method="post">
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Username"/>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" placeholder="Password"/>
            <input class="button" type="submit" value="Log in"/>
            <div>
                <input id="persist-me" name="persist-me" type="checkbox"/>
                <label class="persist-me" for="persist-me">Persist me?</label>
            </div>

            <div class="authn-context-class-ref">
                <label class="authn-context-class-ref" for="authn-context-class-ref">Select authnContextClassRef</label>
                <input id="authn-context-class-ref-value"
                       type="hidden"
                       name="authn-context-class-ref-value"
                       value="urn:oasis:names:tc:SAML:2.0:ac:classes:Password">
                <select class="acr-select" id="authn-context-class-ref">
                    <option selected="selected">urn:oasis:names:tc:SAML:2.0:ac:classes:Password</option>
                    <option th:each="ref : ${authnContextClassRefs}"
                            th:value="${ref}"
                            th:text="${ref}">
                    </option>
                </select>
            </div>

            <div class="add-attribute">
                <label for="add-attribute" class="sr-only">Select attributes</label>
                <select class="attribute-select" id="add-attribute">
                    <option value="Add attribute...">Add attribute...</option>
                    <option th:each="attr : ${samlAttributes}"
                            th:value="${attr.get('name')}"
                            th:text="${attr.get('id')}"
                            th:attr="data-multiplicity=${attr.get('multiplicity')}"></option>
                </select>
                <div class="help"><span class="explain-link">?</span></div>
            </div>
            <ul id="attribute-list" class="attribute-list"></ul>
            <section class="powered-by">
                <a href="https://openconext.org/" target="_blank" rel="noreferrer noopener">Copyright © 2018 OpenConext</a>
            </section>
        </form>
    </div>
</main>
</body>
</html>
