<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<section class="user-container">
    <section class="attributes">
        <h1>Mujina Identity Provider</h1>
        <a class="button" th:href="@{/logout}">Logout</a>
        <p>The following information is stored in your authentication</p>
        <ul>
            <li>Name</li>
            <li th:text="${user.principal}"></li>
        </ul>
        <ul th:each="authority : ${user.authorities}">
            <li>Authority</li>
            <li th:text="${authority.authority}"></li>
        </ul>
        <section class="powered-by">
            <a href="https://openconext.org/" target="_blank" rel="noreferrer noopener">Copyright © 2018 OpenConext</a>
        </section>
    </section>
</section>
</html>
