<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright 2012 SURFnet bv, The Netherlands

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

  <appender name="LogFile" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="logs/sp.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}] %-5p - %t - %C %M - %m %n"/>
    </layout>
  </appender>


  <logger name="org.springframework.security">
    <level value="info"/>
  </logger>

  <logger name="surfnet">
    <level value="debug"/>
  </logger>


  <root>
    <priority value="warn"/>
    <appender-ref ref="LogFile"/>

  </root>

</log4j:configuration>
