<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--<logger name="mujina" level="DEBUG"/>-->
  <!--<logger name="org.springframework.security" level="DEBUG"/>-->

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
